#footer,#header {
	background: #333;
}

.musicautor {
	margin:20px 0 0 20px;
}


.margin-center  {
	width:94%;
	margin:10px auto;
}
.margin-center audio {
	margin:0 auto;
}
.ui-btn-icon-right {
	padding-right:1.5em;
}
.ui-btn-icon-left {
	padding-left:1.5em;
}